@use "../util" as u;

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
  animation: loader 1.1s infinite ease-in-out;
  -moz-animation: loader 1.1s infinite ease-in-out;
  -webkit-animation: loader 1.1s infinite ease-in-out;
  z-index: 100;

  .box {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background-color: u.$green;
    animation: loaderBlock 1.1s infinite ease-in-out;
    -moz-animation: loaderBlock 1.1s infinite ease-in-out;
    -webkit-animation: loaderBlock 1.1s infinite ease-in-out;
    &:nth-child(1) {
      top: 0;
      left: 0;
    }

    &:nth-child(2) {
      top: 0;
      right: 0;
      animation: loaderBlockInverse 1.1s infinite ease-in-out;
      -moz-animation: loaderBlockInverse 1.1s infinite ease-in-out;
      -webkit-animation: loaderBlockInverse 1.1s infinite ease-in-out;
    }

    &:nth-child(3) {
      bottom: 0;
      left: 0;
      animation: loaderBlockInverse 1.1s infinite ease-in-out;
      -moz-animation: loaderBlockInverse 1.1s infinite ease-in-out;
      -webkit-animation: loaderBlockInverse 1.1s infinite ease-in-out;
    }

    &:nth-child(4) {
      bottom: 0;
      right: 0;
    }
  }
}

.loader-container {
  background-color: u.$color-background;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  -webkit-animation: disappear 750ms forwards;
  -moz-animation: disappear 750ms forwards;
  animation: disappear 750ms forwards;
}

.header {
  position: relative;
  z-index: 50;
}

.main {
  position: relative;
  z-index: 52;
}

.footer {
  position: relative;
  z-index: 53;
}

.menu__subtitle {
  animation: fade-in 1000ms forwards;
  -moz-animation: fade-in 1000ms forwards;
  -webkit-animation: fade-in 1000ms forwards;
}

.menu__header {
  -webkit-animation: fade-out 0.5s;
  -moz-animation: fade-out 0.5s;
  animation: fade-out 0.5s;
}

@keyframes loader {
  0%,
  10%,
  100% {
    width: 80px;
    height: 80px;
  }

  65% {
    width: 150px;
    height: 150px;
  }
}

@keyframes loaderBlock {
  0%,
  30% {
    transform: rotate(0);
  }

  55% {
    background-color: u.$color-tertiary;
  }

  100% {
    transform: rotate(90deg);
  }
}

@keyframes loaderBlockInverse {
  0%,
  20% {
    transform: rotate(0);
  }

  55% {
    background-color: u.$color-Primary;
  }

  100% {
    transform: rotate(-90deg);
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 3;
  }

  100% {
    opacity: 0;
    z-index: -100;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    margin-top: 90px;
  }

  20% {
    opacity: 0;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
