@use "../util" as u;

//tablet//
@media screen and (min-width: 768px) {
  .res-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    justify-content: center;
  }
  .restaurants {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .menu__content {
    margin-top: 40%;
    width: 100%;
  }
  .wrap {
    width: 100%;
    img {
      width: 100%;
      height: 20em;
    }
  }
  .menu__subtitle {
    h4 {
      font-size: 19px;
      margin: 0 auto;
      width: 4.5em;
    }
  }
  .menu__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25em;
    margin: 0 auto;
    padding-top: 2em;
  }
  footer .container {
    align-items: center;
    gap: 2em;
  }
  .menu__subtitle {
    width: 100%;
  }
}
//small desktop//
@media screen and (min-width: 1024px) {
  .navigation {
    height: 15em;
    padding-top: 2em;
  }
  .navigation__button {
    white-space: nowrap;
    gap: 2em;
    button {
      display: flex;
      white-space: nowrap;
    }
  }
  .restaurants {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
    margin-top: 5%;
  }
  .res-wrapper {
    gap: 4em;
  }

  .menu__content {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    margin-top: 12% !important;
    flex-wrap: wrap !important;
  }
  .menu__header {
    width: 100vw !important;
    justify-content: space-around;
    height: 4em;
    padding: 1em;
    margin: 1em;
    .heart-section {
      padding-top: 2em;
    }
  }
  .menu__subtitle {
    padding-top: 0px !important;
  }
  .menu__card {
    width: 20em;
    font-size: small;
    height: fit-content;
  }
  .menu__subtitle {
    width: 19em;
  }
  .menu__section {
    flex-direction: row;
  }
  .menu__button {
    margin: 0 auto;
  }
  footer .container {
    flex-direction: row !important;
    justify-content: center;
    height: 5em !important;
    a {
      gap: 2em !important;
    }
  }
  // Icons
  .heart-section {
    display: grid;
    .icon--full {
      color: u.$light-gray;
    }
    &:hover .icon--full {
      color: u.$color-Primary;
      @include u.fill-up;
    }
    &:hover .icon--empty {
      @include u.empty;
    }
  }
}
//medium desktop//
@media screen and (min-width: 1383px) {
  .navigation {
    height: 15em;
    padding-top: 2em;
  }
  .navigation__button {
    white-space: nowrap;
    gap: 2em;
    button {
      display: flex;
      white-space: nowrap;
    }
  }
  .restaurants {
    position: relative;
  }
  .res-wrapper {
    gap: 3em;
  }
  .menu__header {
    font-size: larger;
    justify-content: space-around;
    i {
      display: inline-flex;
      position: absolute;
      left: 96em;
    }
  }
  .menu__content {
    width: 85.3em;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    padding-bottom: 10em;
  }
  .menu__subtitle {
    padding-top: 3em;
  }
  .menu__card {
    width: 25em;
    font-size: small;
    height: fit-content;
  }
  .menu__button {
    margin: 0 auto;
  }
  footer .container {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    gap: 10em;
    padding-right: 5em;
    width: 100%;
  }
}
//large desktop
@media screen and (min-width: 1400px) {
  .menu__content {
    align-items: flex-start;
  }
  .menu__subtitle {
    width: 20%;
    height: 100%;
  }
}
