//tablet//
@media screen and (min-width: 768px) {
  body {
    width: 97.6vw;
  }
  .res-wrapper {
    display: flex;
    flex-direction: column;
  }
  .restaurants {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .menu__content {
    margin-top: 40%;
    width: 100%;
  }
  .wrap {
    width: 100%;
    img {
      width: 100%;
      height: 20em;
    }
  }
  .menu__subtitle {
    h4 {
      font-size: 19px;
      margin: 0 auto;
      width: 4.5em;
    }
  }

  .menu__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25em;
    margin: 0 auto;
    padding-top: 2em;
  }

  footer {
    .container {
      display: flex;
      align-items: center;
      gap: 2em;
      position: relative;
    }
  }
}
//small desktop//
@media screen and (min-width: 1024px) {
  body {
    width: 98.3vw;
  }
  .restaurants {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
  }

  .menu__content {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    margin-top: 12% !important; // FIX: THIS IS HAPPENING DUE TO COMPONENT OVERRIDING LAYOUTS
    flex-wrap: wrap !important;
  }
  .menu__header {
    width: 100vw !important;
    justify-content: space-around;
    height: 4em;
    padding: 1em;
    margin: 1em;
    .heart-section {
      padding-top: 2em;
    }
  }
  .menu__subtitle {
    padding-top: 0px !important;
  }
}

.menu__card {
  width: 20em;
  font-size: small;
}
.menu__subtitle {
  width: 19em;
}
.menu__section {
  flex-direction: row;
}
.menu__button {
  margin: 0 auto;
}

footer .container {
  flex-direction: row !important;
  justify-content: center;
  height: 5em !important;
}

//medium desktop//
@media screen and (min-width: 1383px) {
  .navigation {
    height: 15em;
    padding-top: 2em;
  }
  .navigation__button {
    white-space: nowrap;
    gap: 2em;

    button {
      display: flex;
      white-space: nowrap;
    }
  }

  .restaurants {
    position: relative;
  }
  .menu__header {
    font-size: larger;
    justify-content: space-around;

    i {
      display: inline-flex;
      position: absolute;
      left: 96em;
    }
  }
  .menu__content {
    width: 85.3em;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    padding-bottom: 10em;
  }
  .menu__subtitle {
    padding-top: 3em;
  }

  .menu__card {
    width: 25em;
    font-size: small;
  }
  .menu__button {
    margin: 0 auto;
  }

  footer,
  .container {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    gap: 10em;
    margin-right: 5em;
    width: 100%;
  }
}
//large desktop//
@media screen and (min-width: 2560px) {
  body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .res-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
  }
  main h2 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .menu__header .heart-section {
    padding-top: 0em;
  }

  .menu__content {
    width: 100vw !important;
    justify-content: space-around;
    height: 100vh;
    padding: 1em;
    margin: 1em;
    margin-top: 10% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    padding-bottom: 10em;
  }
  .menu__header {
    width: 100vw !important;
    padding: 1em;
    margin: 1em;
  }
  .menu__subtitle {
    width: 30%;
    margin: 0 !important;
  }
  .menu__section {
    width: 100%;
    gap: 4em !important;
  }
  .menu__card {
    width: 90%;
  }
}
