@use "../util" as u;
// Header
.logo {
    height: 3.5em;
    @include u.flex-center;

    img {
        width: 150px;
        margin: 1em;
    }
}
.center-content {
    @include u.flex-center;

    .logo {
        animation: fade-out 10s;
    }
}
.wrap {
    position: absolute;
    top: 3.5em;
    img {
        object-fit: cover;
        width: 100%;
        right: 2em;
        animation: fade-in 2000ms forwards;
    }
}
#image-height {
    height: 18em;
}

.location {
    background-color: u.$light-gray;
    text-align: center;
    height: 19em;

    &__nav {
        @include u.flex-center;
        background-color: u.$dark-gray;
        border: 0.1em inset u.$color-background;
        height: 2.5em;
        i {
            margin-right: 14px;
        }
    }

    &__menu {
        @include u.flex-center;
        flex-direction: column;
        justify-content: space-evenly;
        height: 15em;
        padding: 0 1em;

        h3 {
            font-weight: 400;
            font-size: 1.2em;
            &:hover {
                color: u.$color-Primary;
            }
        }

        button {
            font-size: 1em;
            height: 3em;
            color: u.$color-background;
            @include u.btn-color;
            text-align: center;
            outline: none;
            border: 0px solid rgb(28, 110, 164);
            border-radius: 3rem;
            width: 15em;
            cursor: pointer;
            @include u.button-shadow;
            transition: all 1s ease-in-out;
            &:hover {
                @include u.button-shadow;
                transform: scale(1.17);
                color: black;
            }
        }
    }
}

.menu__content {
    background-color: u.$light-gray;
    border-radius: 2.6em 2.6em 0 0;
    position: relative;
    top: 14em;
    margin: 0 auto;
    margin-bottom: 14em;
    padding: 5em 2em;
}
//menu subheader section//
.menu__header {
    display: flex;
    align-items: center;

    h2 {
        white-space: nowrap;
        font-family: u.$font-secondary;
        font-size: 1.4em;
        font-weight: 300;
        margin-right: 5em;
    }
}

.menu__subtitle {
    margin: 1em 0em 3em;
    white-space: nowrap;
    animation: fade-in 5s forwards;

    h4 {
        white-space: nowrap;
        font-weight: 400;
        border-bottom: 3px u.$color-tertiary solid;
        width: 33px;
        height: 23px;
        margin: 1em 0em;
    }
}

//order button//
.menu__button {
    position: relative;
    left: -50em;
    top: 14em;
    font-size: 1em;
    height: 3em;
    color: u.$color-background;
    @include u.btn-color;
    text-align: center;
    outline: none;
    border: 0px solid rgb(28, 110, 164);
    border-radius: 3em;
    width: 12em;
    cursor: pointer;
    @include u.button-shadow;
    transform: scale(1);
    transition: transform 400ms;
    &:hover {
        @include u.button-shadow;
        transform: scale(1.15);
    }
}

// cards
main {
    background-color: u.$light-gray;
    margin-top: 5em;
    padding: 20px;

    h2 {
        display: flex;
        justify-content: center;
        &:hover {
            color: u.$color-Primary;
        }
    }
    .card_section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding-bottom: 35px;

        .card_image {
            position: relative;
        }
        img {
            object-fit: cover;
            border-radius: 1em 1em 0em 0em;
            height: 9.5em;
            width: 21em;
        }
    }
    .card__restaurants {
        background-color: u.$color-background;
        width: 21em;
        height: 14em;
        border-radius: 1em 1em;
        @include u.button-shadow;
        position: relative;

        p {
            font-weight: 300;
            &:hover {
                color: u.$color-Primary;
            }
        }

        .new {
            position: absolute;
            left: 17.4em;
            bottom: 7.5em;
            background-color: u.$color-tertiary;
            color: darken(u.$color-tertiary, 45%);
            padding: 0.6em 1.5em;
            border-radius: 5px;
            font-size: 0.9em;
            font-weight: 500;
        }
        &__text {
            margin: 5px 14px;
            line-height: 1.4em;
        }
    }
}

// Icons
.heart-section {
    margin-top: -2em;

    .icon--full {
        color: u.$color-background;
    }
    &:hover .icon--full {
        background: linear-gradient(u.$color-secondary 0%, u.$color-Primary 100%);
        background-clip: inherit;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        transition: color 0.9s;
    }
    &:hover .icon--empty {
        opacity: 0;
        transition-duration: 0.5s;
    }
}
.fa-heart {
    position: absolute;
    left: 11em;
    font-size: 1.5em;
    cursor: pointer;
}
.arrow {
    position: relative;
    right: 4em;
    font-size: 17px;
    font-weight: 400;
    &:hover {
        color: u.$color-tertiary;
    }
}

// Nav buttons

.navigation {
    margin-top: 2em;
    @include u.flex-center;
    flex-direction: column;

    h2 {
        padding-bottom: 13px;
        &:hover {
            color: u.$color-Primary;
        }
    }
}
.navigation__button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 16em;
    width: 20em;
    padding-left: 0.1em;
    margin-top: 1em;

    button {
        @include u.flex-center;
        background-color: u.$light-gray;
        border: u.$color-background;
        @include u.button-shadow;
        cursor: pointer;
        outline: none;
        height: 4.5em;
        border-radius: 1.25em;
        transition: all 0.4s ease-in-out;

        &:hover {
            background-color: u.$light-blue;
            color: u.$color-background;
            transform: scale(1.07);
        }
        &:hover i {
            color: u.$color-Primary;
        }

        .circle__1,
        .circle__2 {
            @include u.flex-center;
            position: absolute;
            right: 21em;
            background-color: u.$color-Primary;
            border-radius: 2em;
            color: u.$color-background;
            font-size: 0.9em;
            height: 2em;
            width: 2em;
        }
        .circle__3 {
            @include u.flex-center;
            position: absolute;
            right: 21em;
            background-color: u.$color-Primary;
            border-radius: 2em;
            color: u.$color-background;
            font-size: 0.9em;
            height: 2em;
            width: 2em;
        }
        .icon {
            @include u.flex-center;
            position: relative;
            left: 3em;
        }
        .fa-store {
            margin-right: 9em;
        }
    }
}
.closer {
    margin-right: 2em;
}
.navigation__button i {
    color: u.$color-icon;
    position: absolute;
    margin-right: 11em;
    font-size: medium;
}

// Footer
footer {
    background-color: darken(u.$color-background, 80%);
    color: u.$color-background;
    .container {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        height: 13.5em;
        margin-left: 2em;
        color: u.$color-background;
        position: relative;

        a {
            color: u.$color-background;
            text-decoration: none;
        }

        i {
            margin-right: 0.75em;
        }
        p {
            margin: 1em 0em;
            font-family: u.$font-secondary;
            font-size: 1.2em;
        }
    }
}
